<h1>IdeaBox</h1>
<h3>Ideas</h3>
<ul class="ideas-list"></ul>
<div class="form-group">
  <form>
    <input class="form-control" type="text" id="idea-title">
    <input class="form-control" type="text" id="idea-body">
  </form>
</div>
<br>
<input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save Idea">
