<div class="container">
  <div class="row">
    <div class="column center">
      <h2>ThoughtPour</h2>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="column center">
        <h5>What's on your mind?</h5>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="idea-title" type="text" class="validate">
          <label for="title">Idea title?</label>
        </div>
        <div class="input-field col s6">
          <input id="idea-body" type="text" class="validate">
          <label for="description">Describe it!</label>
        </div>
        <div class="row col s12">
            <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save Idea">
        </div>
      </div>
    </form>
  </div>
  <div id="ideas-list"></div>
</div>