.idea-title {
  outline-width: thin;
  outline-color: teal;
}

.idea-body {
  outline-width: thin;
  outline-color: teal;
}

.card-title:hover {
  color: teal;
}

.idea-body:hover {
  color: #3333FF;
}

#increase-quality:hover {
  color: teal;
}

#increase-quality {
  padding-right: 15px;
  padding-top: 10px;
}

#decrease-quality {
  padding-right: 850px;
}

#delete-idea {
  color: teal;
}

.nav-wrapper {
  background-color: #4f174f;
}
#decrease-quality:hover {
  color: teal;
}

body {
  background-color:  #4f174f;
  color: white;
}

.idea {
  color: black;
}
