$highlight-text-color: #1a237e;

.idea-title {
  outline-width: thin;
  outline-color: $highlight-text-color;
}

.idea-body {
  outline-width: thin;
  outline-color: $highlight-text-color;
}

.card-title:hover {
  color: $highlight-text-color;
}

.btn {
  background-color: $highlight-text-color;
}

.idea-body:hover {
  color: #3333FF;
}

#increase-quality:hover {
  color: $highlight-text-color;
}

#increase-quality {
  padding-right: 15px;
  padding-top: 10px;
}

#decrease-quality {
  padding-right: 850px;
}

#delete-idea {
  color: $highlight-text-color;
}

.nav-wrapper {
  background-color: white;
}

#decrease-quality:hover {
  color: $highlight-text-color;
}

body {
  background-color: #e0f7fa;
  color: black;
}

.idea {
  color: black;
}
