<nav>
  <div class="nav-wrapper">
    <div class="row">
      <form class="col s2">
        <div class="input">
          <input placeholder="Search" id="search" type="search" required>
          <label for="search-query"></label>
        </div>
      </form>
    </div>
  </div>
</nav>